.thumbnails {
  margin-left: -20px;
}

.dps-thumbnail {
  height: 400px;
}

.dps-thumbnail > .thumbnail {
  border: 1px solid #ddd;
  position:relative;
  padding: 4px;
  /*min-height: 380px;*/
}

.dps-thumbnail p {
  /*position: absolute;*/
  /*bottom: 0px;*/
  padding: 5px 10px 5px 10px;
  margin: 0px 2px 4px 0px;
  /* styling bellow */
  /*background-color: white;*/
  /*opacity:0.8; /* transparency */
  /*filter:alpha(opacity=60); /* IE transparency */
  font-family: Roboto;
  color: #525252;
}

@media (max-width: 767px) {
  .thumbnails {
    margin-left: 0;
    padding-left: 0px;
  }

  .dps-thumbnail {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .dps-thumbnail {
    height: auto;
  }
}
